In [1]:
import nltk

In [5]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\Sazad\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [6]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [7]:
sid = SentimentIntensityAnalyzer()

In [8]:
a = ' This movie is not that bad'

In [10]:
sid.polarity_scores(a)

{'neg': 0.0, 'neu': 0.637, 'pos': 0.363, 'compound': 0.431}

In [11]:
a = ' it was an awesome show'

In [12]:
sid.polarity_scores(a)

{'neg': 0.0, 'neu': 0.494, 'pos': 0.506, 'compound': 0.6249}

In [13]:
a = 'this movie is superb, it has awesome graphics and remarkable story line'

In [14]:
sid.polarity_scores(a)

{'neg': 0.0, 'neu': 0.433, 'pos': 0.567, 'compound': 0.9153}

In [15]:
a = ' such a disgusting movie it was and so boring'
sid.polarity_scores(a)

{'neg': 0.516, 'neu': 0.484, 'pos': 0.0, 'compound': -0.75}

In [18]:
a ='packaging of product should be improved'

In [19]:
sid.polarity_scores(a)

{'neg': 0.0, 'neu': 0.617, 'pos': 0.383, 'compound': 0.4767}

In [21]:
import numpy as np
import pandas as pd
df = pd.read_csv('E:/TextFiles/amazonreviews.tsv' , sep = '\t')

In [22]:
df.head()

  label                                             review
0   pos  Stuning even for the non-gamer: This sound tra...
1   pos  The best soundtrack ever to anything.: I'm rea...
2   pos  Amazing!: This soundtrack is my favorite music...
3   pos  Excellent Soundtrack: I truly like this soundt...
4   pos  Remember, Pull Your Jaw Off The Floor After He...

In [23]:
df['label'].value_counts()

neg    5097
pos    4903
Name: label, dtype: int64

In [26]:
df.isnull().sum()

label     0
review    0
dtype: int64

In [28]:
df.isna().sum()

label     0
review    0
dtype: int64

In [29]:
blank = []

for i,lb,rv in df.itertuples():
    if type(rv) == str:
        if rv.isspace():
            blank.append(i)

In [32]:
blank

[]

In [33]:
df['label'].value_counts()

neg    5097
pos    4903
Name: label, dtype: int64

In [34]:
sid.polarity_scores(df.loc[0]['review'])

{'neg': 0.088, 'neu': 0.669, 'pos': 0.243, 'compound': 0.9454}

In [35]:
df.loc[0]['label']

'pos'

In [36]:
df['scores'] = df['review'].apply(lambda x : sid.polarity_scores(x))

In [37]:
df.head()

,label,review,scores
0,pos,Stuning even for the non-gamer: This sound tra...,"{'neg': 0.088, 'neu': 0.669, 'pos': 0.243, 'co..."
1,pos,The best soundtrack ever to anything.: I'm rea...,"{'neg': 0.018, 'neu': 0.837, 'pos': 0.145, 'co..."
2,pos,Amazing!: This soundtrack is my favorite music...,"{'neg': 0.04, 'neu': 0.692, 'pos': 0.268, 'com..."
3,pos,Excellent Soundtrack: I truly like this soundt...,"{'neg': 0.09, 'neu': 0.615, 'pos': 0.295, 'com..."
4,pos,"Remember, Pull Your Jaw Off The Floor After He...","{'neg': 0.0, 'neu': 0.746, 'pos': 0.254, 'comp..."

In [38]:
df['compound']  = df['scores'].apply(lambda score_dict: score_dict['compound'])

df.head()

,label,review,scores,compound
0,pos,Stuning even for the non-gamer: This sound tra...,"{'neg': 0.088, 'neu': 0.669, 'pos': 0.243, 'co...",0.9454
1,pos,The best soundtrack ever to anything.: I'm rea...,"{'neg': 0.018, 'neu': 0.837, 'pos': 0.145, 'co...",0.8957
2,pos,Amazing!: This soundtrack is my favorite music...,"{'neg': 0.04, 'neu': 0.692, 'pos': 0.268, 'com...",0.9858
3,pos,Excellent Soundtrack: I truly like this soundt...,"{'neg': 0.09, 'neu': 0.615, 'pos': 0.295, 'com...",0.9814
4,pos,"Remember, Pull Your Jaw Off The Floor After He...","{'neg': 0.0, 'neu': 0.746, 'pos': 0.254, 'comp...",0.9781

In [39]:
df['comp_score'] = df['compound'].apply(lambda c: 'pos' if c >=0 else 'neg')

df.head()

,label,review,scores,compound,comp_score
0,pos,Stuning even for the non-gamer: This sound tra...,"{'neg': 0.088, 'neu': 0.669, 'pos': 0.243, 'co...",0.9454,pos
1,pos,The best soundtrack ever to anything.: I'm rea...,"{'neg': 0.018, 'neu': 0.837, 'pos': 0.145, 'co...",0.8957,pos
2,pos,Amazing!: This soundtrack is my favorite music...,"{'neg': 0.04, 'neu': 0.692, 'pos': 0.268, 'com...",0.9858,pos
3,pos,Excellent Soundtrack: I truly like this soundt...,"{'neg': 0.09, 'neu': 0.615, 'pos': 0.295, 'com...",0.9814,pos
4,pos,"Remember, Pull Your Jaw Off The Floor After He...","{'neg': 0.0, 'neu': 0.746, 'pos': 0.254, 'comp...",0.9781,pos

In [54]:
df['star'] = df['compound'].apply(lambda s : '*' if s <=0.2 else ( '***' if s<=0.6 else '*****'))

In [60]:
df.head()

,label,review,scores,compound,comp_score,star
0,pos,Stuning even for the non-gamer: This sound tra...,"{'neg': 0.088, 'neu': 0.669, 'pos': 0.243, 'co...",0.9454,pos,*****
1,pos,The best soundtrack ever to anything.: I'm rea...,"{'neg': 0.018, 'neu': 0.837, 'pos': 0.145, 'co...",0.8957,pos,*****
2,pos,Amazing!: This soundtrack is my favorite music...,"{'neg': 0.04, 'neu': 0.692, 'pos': 0.268, 'com...",0.9858,pos,*****
3,pos,Excellent Soundtrack: I truly like this soundt...,"{'neg': 0.09, 'neu': 0.615, 'pos': 0.295, 'com...",0.9814,pos,*****
4,pos,"Remember, Pull Your Jaw Off The Floor After He...","{'neg': 0.0, 'neu': 0.746, 'pos': 0.254, 'comp...",0.9781,pos,*****

In [61]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [62]:
accuracy_score(df['label'],df['comp_score'])

0.7091

In [63]:
print(classification_report(df['label'],df['comp_score']))

              precision    recall  f1-score   support

         neg       0.86      0.51      0.64      5097
         pos       0.64      0.91      0.75      4903

    accuracy                           0.71     10000
   macro avg       0.75      0.71      0.70     10000
weighted avg       0.75      0.71      0.70     10000